<div class="row col-12 container d-flex justify-content-center align-items-center">

      <div class="card">
        <div class="content-1">
            <img class="card-img-top" src={{product?.productImage}} alt="Card image">
        </div>
        <div class="content-2">
            <div class="branding">
                <span>{{product?.productName}}</span>
                <span>Quantity: {{product?.productQuantity}}</span>
                <h4>Price: {{product?.ProductPrice}}</h4>
            </div>
            <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
            </div>
        </div>
    </div>
